<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddd0yuki.dr_puyuh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".DiagnosaActivity"
            android:label="Diagnosa Penyakit"/>
        <activity android:name=".Result1Activity" />
        <activity android:name=".Result2Activity" />
        <activity android:name=".Result3Activity" />
        <activity android:name=".Result4Activity" />
        <activity android:name=".Result5Activity" />
        <activity android:name=".Result6Activity" />
        <activity android:name=".DetailActivity"
            android:label="Detail Penyakit"/>
        <activity android:name=".AboutActivity"
            android:label="About"></activity>
    </application>

</manifest>